/.vscode
/.history
/*.code-workspace
/index.php
Docme-UI/bill
Docme-UI/nbproject
Docme-UI/reports
Docme-UI/student_profiles/
Docme-UI/uploads
Docme-UI/.htaccess
Docme-UI/assets/Uploads
Docme-UI/docme/cache
Docme-UI/docme/config/constants.php
Docme-UI/docme/config/database.php
Docme-UI/docme/config/config.php
Docme-UI/docme/logs/

Portal/webapp/libraries/merchant/log/
Portal/webapp/config/constants.php
Portal/webapp/config/database.php
Portal/webapp/config/config.php
Portal/.htaccess
Portal/webapp/cache
Portal/webapp/logs/
Portal/bill/online-payment/*

api/nbproject
api/Uploads
api/.htaccess
api/apicore/cache
api/apicore/config/constants.php
api/apicore/config/database.php
api/apicore/config/config.php
api/apicore/logs/

